@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --armygreen: rgb(69, 75, 27);
}

*,*::after,*::before {
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right, black, white);
    margin: 0;
    background-repeat: no-repeat;
    font-size: 1.3em;
    font-family: 'IBM Plex Serif', serif;
} 


img {
    max-width: 100%;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, p {
    margin: 0;
}

h1 {    
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
}

.container {
    max-width: 90%;
    margin: 0 auto;    
}

.menuRow {
    font-size: 1.15em;
    color: black;
}

.white-text {
    color: white;
}


/* Page Transitions */
.transition1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: #212121;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition1.is-active {
    opacity: 1;
    pointer-events: all;
}

.transition2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: #212121;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition2.is-active {
    left: 0px;
}

.transition3 {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 101;
    background-color: #212121;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition3.is-active {
    top: 0;
}
  
/* End Page Transitions */



/* Navigation */
header {
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 1.5em 0;
}

.logo {
    align-items: center;
}

.logo img {
    max-width: 35px;
}

.logo h1 {
    font-size: 35px;
}

nav ul {
    gap: 2em;
    align-items: center;
}

nav a {
    font-size: 18px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;

}

nav a::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background-color: aqua;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

nav li:nth-of-type(5) a::after {
    all: unset;
}

nav a:hover::after {
    width: 30px;   
}

nav li:nth-of-type(5) a {
    padding: 0.5em 1em;
    background-color: gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

nav li:nth-last-of-type(5) a:hover, .hero a:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#accountLink {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

#accountLink:hover{
    background-color: var(--armygreen);
    color: azure;
    transform: scale(1.2);
}

/*End Navigation*/



/* Hero */

.hero {
    gap: 2em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh - 93.6px);
}

#heroText {
    font-size: 1.2em;
    margin: 0;
    padding: 0.3em;
}

.hero>* {
    flex: 1 1 25em;
}

.hero h1 {
    font-size: clamp(40px, 5vw, 70px);
    line-height: 1;
}

.hero p {
    font-weight: 500;
    font-size: 30px;
    padding: 1em 0;
}

.hero-btn {
    font-weight: 700;
    font-size: 20px;
    padding: 0.3em 1em;
    background-color: azure;
    color: black;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.hero-btn:hover {
    background-color: var(--armygreen);
    color: gold;
    -webkit-transform:scale(1.2);
    transform: scale(1.2);
}



/* End Hero */

/* Blocks */

.block-parent{
    padding: 2rem;
    border: aqua solid 3px;
}

.block{
    display: inline-block;
    padding: 1rem;
    border: aqua solid 3px;
}

#block-right{
    position: absolute;
    right: 5vw;
    border: aqua solid 3px;
}

#block-left{
    top: 2px;
    width: 45vw;
    font-size: 1.5em;
    color: white;
    margin-left: 3vw;
    border: aqua solid 3px;
}

#JTCPhoto{
    height: 40vh;
    width: 40vw;
}


/* End Blocks*/

/* SquadTable */
.teamphoto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.squadTable{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: white;
}

thead {
    background-color: black;
    color: white;
}

table, th, td{
    padding: 5px;
    border: solid 1px;
}

.teamPageHeaders{
    text-align: center;
}

tr:nth-child(even){
    background-color: #e4e4e4
}

/*End SquadTable */

/* Account Form */

.accountForm {
    margin: auto;
    background-color: var(--armygreen);
    width: 35%;
    border-radius: 5%;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 4vh;
}


.formInput  {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formInputDate {
    cursor: pointer;
}

.formInputButton {
    width: 40%;
    background-color: gold;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s;
}

.formInputButton:hover {
    -webkit-transform:scale(1.2);
    transform: scale(1.2);
    background-color: aqua;
}

/* End Account Form */

/* Fan-Page */

.fanpage-text {
    text-align: center;
    color: gold;
}

#fanpage-loremIpsum {
    background-color: var(--armygreen);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

/* End Fan-Page */

/* Icons */
.fa-award{
    color: gold;
}
.fa-trophy{
    color: gold;
}
.fa-medal{
    color: gold;
}
/* End Icons */


/* Footer */
#footer-list{
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    color: gold;
    display: flex;
}

.footer-link{
    color: gold;
    transition: 0.5s;
    font-size: 1.3em;
    padding-left: 25px;
    padding-right: 25px;
}

.footer-link:hover{
    transform: scale(1.5);
    color: aqua;
}

.copyrightText {
    color: black;
    font-size: 0.75em;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
}


/* End Footer */

/* Media */

@media screen and (max-width: 950px) {

    .toggleMenu {
        color:red;
        position: absolute;
        right: 5%;
        background-image: url("../images/openMenu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 1000;
        transition: background-size 0.3s ease-in-out;
        -webkit-transition: background-size 0.3s ease-in-out;
        -moz-transition: background-size 0.3s ease-in-out;
        -ms-transition: background-size 0.3s ease-in-out;
        -o-transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        color: red ;
        position: fixed;
        background-image: url('../images/closeMenu.png');
        background-size: 45px;
    }

    .navigation{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        transform: scale(1, 0);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
    }

    .navigation.active{
        position: fixed;
        inset: 0;
        margin: auto;
        max-height: 100%;
        opacity: 1;
        background-color: rgba(63, 0, 156, 1);
        transform: scale(1, 1);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
    }

    nav ul{
        flex-direction: column;
    }


    /* SquadTable */
    .squadTable{
        overflow-x: auto;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100vw;
    }
    table, th, td{
        padding: 0;
        border: none;
    }

    .responsiveTable {
        overflow-x: auto;
    }
    /*End SquadTable */


    /* Blocks */
    .block-parent{
        top: 0;
        bottom: 0;
        padding: 1rem;
        border: none;

    }

    .block{
        display: contents;
        padding: 0;
        border: none;
    }

    #block-right{
        position: absolute;
        right: 5vw;
        width: 10%;
        border: aqua solid 1px;
    }

    #block-left{
        width: 100%;
        border: none;
    }
    .google-map{
        padding-bottom: 50%;
        position: relative;
        width: 100%;
    }
    #JTCPhoto{
        width: 100%;
    }

    #AllianzPhoto{
        width: 100%;
    }
    /* End Blocks*/

        
    /* Account Form */
    .accountForm {
        width: 90%;
        margin-top: 5vh;
        padding-bottom: 0;
    }

    .formInput  {
        height: 4em;
    }

    .formInputButton {
        width: 70%;
    }
    /* End Account Form */


    /* Footer */
    #footer-list{
        width: 90%;
        margin-bottom: 3vh;
        margin-top: 0vh;
    }

    .footer-link{
        font-size: 1.5em;
    }

    .copyrightText {
        font-size: 0.8em;
    }
    /* End Footer */


}
/* End Media */