@import url('https://fonts.cdnfonts.com/css/sandy-king');                


h1{
    text-align: center;
}

h2{
    text-align: center;
}

header{
    background-image: url('/WebbUtv-Slutprojekt/images/JuventusStadiumBanner.jpg');
    height: 15em;
    margin-left: 0;
    background-size: cover;
}

.head{
    position: relative;
    top: 75px;
    font-size: 500%;
    margin: 0%;
    color: black;
    font-family: 'Sandy King', sans-serif;
    transition: ease-in-out 0.5s;  
    text-decoration: none;                                          
}

a{
    text-decoration: none;
}
.head:hover{
    color: aqua;
}

body{
    background-color: white;
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100vw;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: solid 3px;
    border-color: aqua;
}

li {
  float: left;
}

li a {
  display: block;
  color: aqua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: ease-in-out 0.5s;

}

li a:hover {
  background-color: #111;
  color: gold;
}




.block-parent{
    padding: 2rem;
    border: aqua solid 3px;
}

.block{
    display: inline-block;
    padding: 1rem;
}

#block-right{
    position: absolute;
    right: 5vw;
}

#block-left{
    top: 2px;
    width: 45vw;
    font-size: 1.5em;
    color: rgb(7, 7, 81);
    margin-left: 3vw;
}

#block-bottom{
    position: absolute;
    margin-left: 3vw;
    font-size: 1.5em;
    color: rgb(7, 7, 81);
    margin-top: 20vh;
    width: 45vw;
}




.animatedImage {
    transition:transform 0.5s ease;
}

.animatedImage:hover {
    -webkit-transform:scale(1.2); 
    transform:scale(1.2);
}



#JTCPhoto{
    height: 50vh;
}
